body {
    margin: 0 3%;
    background: black;
}

#app {
    position:absolute;
    top:720px;
    width: 980px;
    margin: auto;
    background: #EEE;
}

#console {
    position: absolute;
    top: 0;
    height: 200px;
    width: 302px;
    margin-left: 680px;
    text-align: center;
    color: white;
    background: black;
    border: 1px solid grey;
    z-index: 10;
}

#waveCanvas {
    height: 150px;
    white-space: nowrap;
    overflow: auto;
    overflow-x: hidden;
}

#messages {
    height: 160px;
    white-space: nowrap;
    overflow: auto;
    overflow-x: hidden;
}

#masterTools {
    position: absolute;
    top: 0;
    height: 200px;
    width: 680px;
    text-align: center;
    background: #EEE;
    border: 1px solid grey;
    z-index: 10;
}

#volume {
    height: 42px;
}

#songs {
    text-align: center;
}

#trackControl {
    float: left;
    width: 378px;
    overflow: hidden;
}

#tracks {
    width: 100%;
    margin-top: -1px;
}

.trackBox {
    vertical-align: middle;
    border: 1px solid grey;
}

#canvass {
    margin-left: 380px;
}

#myCanvas {
    background: black;
}

#scroll {
    position: absolute;
    top: 200px;
    width: 980px;
    background: #EEE;
}

.styled-select select {
    background: #ddd;
    background: transparent;
    width: 240px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    -webkit-appearance: none;
}

.styled-select {
    width: 240px;
    height: 34px;
    overflow: hidden;
    background: url(../img/down_arrow_select.jpg) no-repeat right #ddd;
    border: 1px solid #ccc;
}

button {
    height: 42px;
    width: 42px;
}

#sound {
    position: absolute;
    margin-left: 28px;
    margin-top: 28px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #000;
    cursor: default;
    background: #EEE;
    border: 1px solid #000;
    border-bottom-color: transparent;
}

.nav {
    margin-bottom: 0;
}

a[data-toggle=tab] {
    color: #EEE;
    text-decoration: none;
}

.pisteProgress {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=-1);
    margin-left: -30px;
    height: 20px;
    margin-top: 22px;
}

.knobDiv {
    float: right;
}

.activated {
    color: green;
    border: 3px solid green;
}

.volumeSlider {
    margin-left: 20px;
    width: 170px;
}

/***** for sliders *****/

body {
    margin-left: 3%;
}

.touch {
    width: 40%;
}

.custom {
    width: 60%;
    -webkit-appearance: none !important;
    height: 15px;
    border-radius: 8px;
    -webkit-appearance: none !important;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px #333;
    background-image: linear-gradient(to right, lightGreen, blue 100%, orange);
    transition: background 450ms;
}

/* Change the Slider Button Color Here */

.custom::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #AAA;
    background-image: linear-gradient(to bottom, #EEE, #AAA);
    border: 1px solid #999;
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.custom::-moz-range-thumb {
    background: #AAA;
    background-image: linear-gradient(to bottom, #EEE, #AAA);
    border: 1px solid #999;
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

.custom::-webkit-slider-thumb:before {
    background: yellow;
}

/* ONLY applicable if you want the bubble above the slider */

output {
    width: 100px;
    height: 40px;
    font-size: 2em;
}


/*******************************/
/*    vib                      */

body {
    margin: 0px 0px 0px 0px;
}


#app {
    display: none;
}


div.originalbuttons {
    display:none;
}

#trackControl {
    overflow: visible;
}

#scroll {
    left: 30px;
}

#waveCanvas {
    width: 92px;
    height: 40px;
    top: 24px;
    left: 11px;
    position: absolute;
}

/*******************************/

#player {
    position: absolute;
    top: 50px;
    left: 25px;
    display:none;
}

#player #topbar {
    width: 275px;
    height: 14px;
    background-image: url(../img/player/playerTop.png);
}

#player #main {
    width: 275px;
    height: 229px;
    background-image: url(../img/player/playerBg.png);
}

#player #topPanel {
    height: 78px;
    width:275px;
}

#player #topPanel #buttons {
    position: absolute;
    left: 110px;
    top: 40px;
} 

#player #topPanel #buttons > div {
    width: 23px;
    height: 17px;
    display: inline-block;
}

#player #topPanel #buttons .play {
    background-image: url(../img/player/play-up.png);
}

#player #topPanel #buttons .pause {
    background-image: url(../img/player/pause-up.png);
}

#player #topPanel #buttons .stop {
    background-image: url(../img/player/stop-up.png);
}

#player #topPanel #buttons .play.down {
    background-image: url(../img/player/play-down.png);
}

#player #topPanel #buttons .pause.down {
    background-image: url(../img/player/pause-down.png);
}

#player #topPanel #buttons .stop.down {
    background-image: url(../img/player/stop-down.png);
}

#player #bottomPanel {
    width: 275px;
    height: 151px;
}

#player #bottomPanel #buttons {
    height: 151px;
    width: 72px;
    position: absolute;
    left: 5px;
}

#player #bottomPanel #buttons a {
    height: 16px;
    width: 67px;
    display:block;   
}

#player .___f_x.down {
    background-image: url(../img/player/___f_x-down.png);
}

#player .___f_x {
    background-image: url(../img/player/___f_x-up.png);
}

#player .__bass.down {
    background-image: url(../img/player/__bass-down.png);
}

#player .__bass {
    background-image: url(../img/player/__bass-up.png);
}

#player .__kicks.down {
    background-image: url(../img/player/__kicks-down.png);
}

#player .__kicks {
    background-image: url(../img/player/__kicks-up.png);
}

#player .__lead.down {
    background-image: url(../img/player/__lead-down.png);
}

#player .__lead {
    background-image: url(../img/player/__lead-up.png);
}

#player .__pad.down {
    background-image: url(../img/player/__pad-down.png);
}

#player .__pad {
    background-image: url(../img/player/__pad-up.png);
}

#player .__shaker-echo-__002b-clap.down {
    background-image: url(../img/player/__shaker-echo-__002b-clap-down.png);
}

#player .__shaker-echo-__002b-clap {
    background-image: url(../img/player/__shaker-echo-__002b-clap-up.png);
}

#player .__snare.down {
    background-image: url(../img/player/__snare-down.png);
}

#player .__snare {
    background-image: url(../img/player/__snare-up.png);
}

#player .__toms.down {
    background-image: url(../img/player/__toms-down.png);
}

#player .__toms {
    background-image: url(../img/player/__toms-up.png);
}

#player .__woof-__002b-clave.down {
    background-image: url(../img/player/__woof-__002b-clave-down.png);
}

#player .__woof-__002b-clave {
    background-image: url(../img/player/__woof-__002b-clave-up.png);
}

/******************************/

#scenecanvas {
    position: absolute;
}

#canvass {
    margin-left: 0px;
}

#myCanvas, #blackCanvas, #frontCanvas {
    position: absolute;
    right: 5px;
}

/****************************/

#modal
{
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
    background: red;
    z-index:999;
    font-family: Verdana;
    font-size: 10pt;
    color:#fff;
}

#modal-tbody, #modal-tr, #modal-td
{
    height: 100%;
}

#modal-td
{
    vertical-align: middle;
}

#modal-content
{
    font-size: 10pt;
    line-height: 16pt;
    position: relative;
    left: 100%;
    height: auto;
    width: 50%; 
    max-width: 500px;
    min-width: 80px;

    margin: 0 auto;
    border: 1px solid;
    background: #333333;
    overflow: auto;
    padding: 20px;
}

/*********************************/

#disableClicks {
    position: absolute;
}